.dropdown-menus {
    display: flex;
    border: 1px solid #c4c4c4;
    padding: 5vh;
    box-shadow: 5px 5px 4px -3px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    font-weight: 700;
    margin-bottom: 2rem;
    justify-content: space-between;
    flex-wrap: wrap;
}
