.center {
    text-align: center;
    background-color: #fff;
}

.pagination {
    display: inline-block;
    background-color: #fff;
}

.pagination button {
    color: black;
    float: left;
    padding: 0.6vw 1vh;
    text-decoration: none;
    transition: background-color 0.3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination button.active {
    background-color: #005c68;
    color: #ffffff;
    border: 1px solid #c4c4c4;
}

.pagination button:hover:not(.active) {
    background-color: #ddd;
}
