.header {
    font-size: 2rem;
    cursor: pointer;
}

.flex-box {
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.login-btn,
.logout-btn {
    width: 10rem;
    height: 3rem;
    background-color: #005c68;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-btn:hover,
.logout-btn:hover {
    background-color: #3d5c60;
}
